<!-- Importaciones a paquetes polymer a utilziar -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<!-- Identificador del document -->
<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
      crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row" hidden$={{logado}}>
        <div class="col-sm-12" class="page-header">
          <h1>Inicio de sesión</h1><hr>
        </div>
        <div class="col-sm-1">
          Email:
        </div>
        <div class="col-sm-11">
          <input type="email" value="{{email::input}}" placeholder="usuario@bbva.com" required><br/>
        </div>
        <div class="col-sm-1">
          Password:
        </div>
        <div class="col-sm-11">
          <input type="password" value="{{password::input}}" required><br/>
        </div>

        <div class="col-sm-1 mt-2">
          <button on-click="login" class="btn btn-primary">Ingresar</button>
        </div>
        <div class="col-sm-11 mt-2">
          <button on-click="showAltaUsuario" class="btn btn-info">Crear usuario</button>
        </div>

        <!-- Alta usuario  -->
        <form >
          <div class="row h-75 mt-5" hidden$={{!showAlta}}>
            <div class="col-sm-12" class="page-header">
              <h1>Alta de usuario</h1><hr>
            </div>
            <div class="col-sm-1">
              Nombre:
            </div>
            <div class="col-sm-11">
              <input type="text" value="{{nombreAlta::input}}" required><br/>
            </div>

            <div class="col-sm-1">
              Apellido:
            </div>
            <div class="col-sm-11">
              <input type="text" value="{{apellidoAlta::input}}" required><br/>
            </div>

            <div class="col-sm-1">
              Email:
            </div>
            <div class="col-sm-11">
              <input type="email" value="{{emailAlta::input}}" placeholder="usuario@bbva.com" required><br/>
            </div>

            <div class="col-sm-1">
              Password:
            </div>
            <div class="col-sm-11">
              <input type="password" value="{{passwordAlta::input}}" required><br/>
            </div>

            <div class="col-sm-2">
              Confirmar Password:
            </div>
            <div class="col-sm-10">
              <input type="password" value="{{password2Alta::input}}" required><br/>
            </div>

            <div class="col-sm-2">
              Número de cuenta:
            </div>
            <div class="col-sm-10">
              <input type="text" value="{{cuentaAlta::input}}" ng-pattern="[0-9]" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" required><br/>
            </div>

            <div class="col-sm-2">
              Tipo de cuenta:
            </div>
            <div class="col-sm-10">
              <select class="selectpicker" id="tipoCuentaAlta" value="{{tipoCuentaAlta::input}}" required>
                <option value = "" disabled selected></option>
                <option value = "DEBITO">DEBITO</option>
                <option value = "CREDITO">CREDITO</option>
                <option value = "AHORRO">AHORRO</option>
                <option value = "INVERSION">INVERSIÓN</option>
             </select>
            </div>

            <div class="col-sm-2">
              <button on-click="altaUsuario" class="btn btn-success">Crear usuario</button>
            </div>
            <div class="col-sm-6">
              <button on-click="cancelarAltaUsuario" class="btn btn-danger">Cancelar</button>
            </div>
          </div>
        </form>
     </div>

      <!-- Detall de cuentas    -->
      <div class="row h-75 mt-5" hidden$={{!logado}}>
        <div class="col-sm-11" class="page-header">
          <h1>Bienvenido [[cliente.nombre]]</h1>
        </div>
        <div class="col-sm-1" class="page-header">
          <button on-click="cerrarSesion" class="btn btn-danger">Cerrar Sesión</button>
        </div>
        <div class="col-sm-3" class="page-header">
          <h5>Tipo de cambio USD: </h5>
        </div>
        <div class="col-sm-9" >
          <h5>$[[tipoCambio]]</h5>
        </div>
        <div class="col-sm-4" class="page-header">
          <h3>Tus cuentas: </h3>
        </div>
        <div class="col-sm-4">
          <button on-click="cuentas" class="btn btn-primary">Actualizar cuentas</button>
        </div>
        <div class="col-sm-4">
          <button on-click="verAsociarCuenta" class="btn btn-outline-dark">Asociar una cuenta</button>
        </div>
        <div class="col-sm-12">
          <table class="table table-hover">
            <tbody>
              <thead>
                <th>Cliente</th>
                <th>Cuenta</th>
                <th>Tipo de cuenta</th>
                <th></th>
              </thead>
              <template is="dom-repeat" items="{{cuentasArray}}" index-as="indexCuenta">
                <tr>
                  <td>[[item.cliente]]</td>
                  <td>[[item.idcuenta]]</td>
                  <td>[[item.tipocuenta]]</td>
                  <td><button on-click="verMovimientos" class="btn btn-info" id="[[indexCuenta]]" value="{{indexCuenta}}">Ver detalle</button></td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>

        <!-- Asociar cuenta -->
        <div class="row h-75 mt-5" hidden$={{!showAltaCuentas}}>
          <div class="col-sm-12" class="page-header">
            <h1>Asociar nueva cuenta</h1><hr>
          </div>
          <div class="col-sm-2">
            Número de cuenta:
          </div>
          <div class="col-sm-10">
            <input type="text" value="{{asociarCuentaAlta::input}}" pattern="pattern=[0-9]" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" required><br/>
          </div>

          <div class="col-sm-2">
            Tipo de cuenta:
          </div>
          <div class="col-sm-10">
            <select class="selectpicker" id="asociarTipoCuentaAlta" value="{{asociarTipoCuentaAlta::input}}" required>
              <option value = "" disabled selected></option>
              <option value = "DEBITO">DEBITO</option>
              <option value = "CREDITO">CREDITO</option>
              <option value = "AHORRO">AHORRO</option>
              <option value = "INVERSION">INVERSIÓN</option>
           </select>
          </div>

          <div class="col-sm-2 h-25 mt-5">
            <button on-click="asociarCuenta" class="btn btn-success">Asociar cuenta</button>
          </div>
          <div class="col-sm-6 h-25 mt-5">
            <button on-click="cancelarAsociarCuenta" class="btn btn-danger">Cancelar asociación de cuenta</button>
          </div>
        </div>

        <!-- Detall de movimientos -->
        <div class="row h-75 mt-5" hidden="{{!showMovimientos}}">
          <div class="col-sm-6" class="page-header">
            <h3>Movimientos de la cuenta: [[cuentaSeleccionada]]</h3>
          </div>
          <div class="col-sm-6" >
            <button on-click="verAltaMovimientos" class="btn btn-outline-dark">Crear movimiento</button>
          </div>

          <div class="col-sm-2">
            <h6>Fecha inicial:</h6>
          </div>
          <div class="col-sm-10">
            <input type="date" step="1" value="{{fechaIni::input}}" required><br/>
          </div>
          <div class="col-sm-2">
            <h6>Fecha Final:</h6>
          </div>
          <div class="col-sm-3" >
            <input type="date" step="1" value="{{fechaFin::input}}" required><br/>
          </div>
          <div class="col-sm-3" >
            <button on-click="filtrarMovimientos" class="btn btn-secondary">Filtrar movimientos</button>
          </div>
          <div class="col-sm-4" >
            <button on-click="borarFiltro" class="btn btn-secondary">Borrar filtro</button>
          </div>

          <div class="col-sm-12" class="page-header">
            <table class="table table-hover">
              <tbody>
                <thead>
                  <th>Fecha de movimiento</th>
                  <th>Importe</th>
                  <th>Tipo de movimiento</th>
                </thead>
                <template is="dom-repeat" items="{{arrayFiltrado}}">
                    <tr>
                      <td>[[item.fecha]]</td>
                      <td>$ [[item.importe]]</td>
                      <td>[[item.tipo]]</td>
                    </tr>
                </template>
              </tbody>
            </table>
          </div>

          <!-- Crear movimientos -->
          <div class="row h-75 mt-5" hidden$={{!showAltaMovimientos}}>
            <div class="col-sm-12" class="page-header">
              <h1>Alta de movimientos</h1><hr>
            </div>
            <div class="col-sm-2">
              Importe:
            </div>
            <div class="col-sm-10">
              <input type="text" value="{{importeAlta::input}}" pattern="pattern=[0-9]" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" required><br/>
            </div>

            <div class="col-sm-2">
              Tipo movimiento:
            </div>
            <div class="col-sm-10">
              <select class="selectpicker" id="tipoMovimientoAlta" value="{{tipoMovimientoAlta::input}}" required>
                <option value = "" disabled selected></option>
                <option value = "CARGO">CARGO</option>
                <option value = "ABONO">ABONO</option>
             </select>
            </div>

            <div class="col-sm-2">
              <button on-click="altaMovimiento" class="btn btn-success">Guardar movimiento</button>
            </div>
            <div class="col-sm-6">
              <button on-click="cancelarAltaMovimiento" class="btn btn-danger">Cancelar</button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <iron-ajax
      id="doLogin"
      url= "[[dominio]]/login"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      last-response="{{cliente}}"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponseLogin"
      on-error="showErrorLogin"></iron-ajax>

    <iron-ajax
      id="tipoCambioAPI"
      url= "https://api.cambio.today/v1/quotes/USD/MXN/json?quantity=1&key=2532|JWSwUhnjxgQcg0d2^E^w0kjCAEo0fszv"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method="GET"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponseTipoCambio"
      on-error="showErrorTipoCambio"></iron-ajax>

    <iron-ajax
      id="getCuentas"
      url="[[dominio]]/clientes/[[cliente.idcliente]]/cuentas"
      content-type="application/json"
      dataType: 'jsonp'
      handle-as="json"
      params=[[cliente]]
      last-response="{{cuentasArray}}"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponseCuentas"
      on-error="showErrorCuentas"></iron-ajax>

    <iron-ajax
      id="crearUsuario"
      url="[[dominio]]/usuarios"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponseAltaUsuario"
      on-error="showErrorAltaUsuario" id="eAlta"></iron-ajax>

    <iron-ajax
      id="crearMovimiento"
      url="[[dominio]]/clientes/[[cliente.idcliente]]/cuentas/[[cuentaSeleccionada]]/movimientos"
      content-type="application/json"
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponseAltaMovimiento"
      on-error="showErrorAltaMovimiento"></iron-ajax>

    <iron-ajax
      id="asociarCuentaCliente"
      url="[[dominio]]/clientes/[[cliente.idcliente]]/cuentas"
      content-type="application/json"
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponseAsociarCuentaCliente"
      on-error="showErrorAsociarCuentaCliente"></iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          dominio:{
            type: String,
            value: "http://127.0.0.1:3002/v1"
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado:{
            type: Boolean,
            value: false
          },
          indexCuenta:{
            type: Number
          },
          movimientosArray:{
            type: Array
          },
          showMovimientos:{
            type: Boolean,
            value: false
          },
          cuentaSeleccionada:{
            type: Number
          },
          showAlta:{
            type: Boolean,
            value: false
          },
          nombreAlta:{
            type: String
          },
          apellidoAlta:{
            type: String
          },
          emailAlta: {
            type: String
          },
          passwordAlta: {
            type: String
          },
          password2Alta: {
            type: String
          },
          cuentaAlta: {
            type: Number
          },
          tipoCuentaAlta:{
            type: String
          },
          showAltaMovimientos:{
            type: Boolean,
            value: false
          },
          importeAlta:{
            type: Number,
            value: 0.00
          },
          tipoMovimientoAlta:{
            type: String
          },
          fechaIni:{
            type: Date
          },
          fechaFin:{
            type: Date
          },
          arrayFiltrado:{
            type:Array
          },
          tipoCambio:{
            type: Number
          },
          showAltaCuentas:{
            type:Boolean,
            value: false
          },
          asociarCuentaAlta:{
            type: Number
          },
          asociarTipoCuentaAlta:{
            type: String
          }
        };
      }
      //Accion para el cierre de sesión
      cerrarSesion(){
        this.cuentasArray = null;
        this.showMovimientos = false;
        this.showAltaMovimientos = false;
        this.showAltaCuentas = false;
        this.email = null;
        this.password = null;
        this.cancelarAltaUsuario();
        this.logado = false;
      }

      //Muestra el componente para dar de alta un nuevo usuario
      showAltaUsuario(){
        this.nombreAlta = null;
        this.apellidoAlta = null;
        this.emailAlta = null;
        this.passwordAlta = null;
        this.password2Alta = null;
        this.cuentaAlta = null;
        this.tipoCuentaAlta = null;
        this.showAlta = true;
      }

      //Oculta el componente para dar de alta un usuario
      cancelarAltaUsuario(){
        this.nombreAlta = null;
        this.apellidoAlta = null;
        this.emailAlta = null;
        this.passwordAlta = null;
        this.password2Alta = null;
        this.cuentaAlta = null;
        this.tipoCuentaAlta = null;
        this.showAlta = false;
      }

      //Crea un nuevo usuario y su cuenta asociada
      altaUsuario(element){
        var altaUsuarioData = {
          "nombreAlta": this.nombreAlta,
          "apellidoAlta": this.apellidoAlta,
          "emailAlta": this.emailAlta,
          "passwordAlta": this.passwordAlta,
          "password2Alta": this.password2Alta,
          "cuentaAlta": this.cuentaAlta,
          "tipoCuentaAlta": this.tipoCuentaAlta
        };

        if(this.passwordAlta != this.password2Alta){
          alert("La confirmación de password no es ídentica al password");
          element.preventDefault();
        }
        else if(this.nombreAlta == null || this.apellidoAlta == null || this.emailAlta == null || this.passwordAlta == null ||
           this.password2Alta == null || this.cuentaAlta == null || this.tipoCuentaAlta == null){
          alert("Parámetros incompletos, favor de validar");
        }else{
          this.$.crearUsuario.body = JSON.stringify(altaUsuarioData);
          this.$.crearUsuario.generateRequest();
          element.preventDefault();
        }
      }

      //Acciones a realizar si la creacion del usuario fue exitosa
      manageAJAXResponseAltaUsuario(data){
        //console.log("Cuentas " + JSON.stringify(data.detail.response));
        alert("Usuario creado exitosamente");
        this.showAlta = false;
      }

      //Acciones a realizar si la creacion del usuario falló
      showErrorAltaUsuario(error){
        alert(error.detail.request.response.mensaje);
        console.log(error);
      }

      //Ingreso a la aplicación
      login(){
        var loginData = {
          "email": this.email,
          "password": this.password
        };

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
      }

      ////Acciones a realizar si el loggin fue exitoso
      manageAJAXResponseLogin(data){
        this.logado = true;
        this.$.tipoCambioAPI.generateRequest();
        //console.log("Respuesta login " + JSON.stringify(data.detail.response.idcliente));
      }

      //Acciones a realizar si el login no fue exitoso
      showErrorLogin(error){
        console.log("Hubo un error en el login " + error);
        alert("Los datos ingresados son incorrectos/El usuario no existe regristrese");
      }

      //Busca el tipo de cambio
      manageAJAXResponseTipoCambio(data){
        this.logado = true;
        this.tipoCambio = data.detail.response.result.amount.toFixed(2);
        //console.log("Respuesta login " + JSON.stringify(data.detail.response));
      }

      //Error en la busqueda del tipo de cambio
      showErrorTipoCambio(error){
        console.log("Hubo un error al obtener el tipo de cambio " + error);
        alert("No se pudo obtener el tipo de cambio, intentelo mas tarde.");
      }

      //Busca las cuentas relacionados al usuario firmado
      cuentas(){
        var clienteData = {
          "idcliente": this.cliente.idcliente
        };
        this.$.getCuentas.generateRequest();
        this.showMovimientos = false;
        this.showAltaMovimientos = false;
        this.showAltaCuentas = false;
      }

      //Acciones si la busqueda de cuentas fue exitosa
      manageAJAXResponseCuentas(data){
        this.movimientosArray = null;
        //console.log("Cuentas " + JSON.stringify(data.detail.response));
      }

      //Acciones si la busqueda de cuentas no fue exitosa
      showErrorCuentas(error){
        console.log("Hubo un error en cuentas  " + error);
        alert("No se pudieron cargar las cuentas");
      }

      //Muestra el componente para asociar una nueva cuanta al usuario firmado
      verAsociarCuenta(){
        this.showAltaCuentas = true;
        this.showMovimientos = false;
        this.showAltaMovimientos = false;
        this.showMovimientos = false;
        this.asociarCuentaAlta = null;
        this.asociarTipoCuentaAlta = null;
      }

      //Oculta el componente para asociar una cuenta
      cancelarAsociarCuenta(){
        this.showAltaCuentas = false;
        this.asociarCuentaAlta = null;
        this.asociarTipoCuentaAlta = null;
      }

      //Guarda y asocia la cuenta capturada al cliente firmado
      asociarCuenta(){
        var altaAsociarCuentaData = {
          "asociarCuentaAlta": this.asociarCuentaAlta,
          "asociarTipoCuentaAlta": this.asociarTipoCuentaAlta
        };
        if(this.asociarCuentaAlta == null || this.asociarCuentaAlta <= 0 || this.asociarTipoCuentaAlta == null || this.asociarTipoCuentaAlta == ""){
          alert("Parámetros incompletos, favor de validar");
        }
        else{
          this.$.asociarCuentaCliente.body = JSON.stringify(altaAsociarCuentaData);
          this.$.asociarCuentaCliente.generateRequest();
          element.preventDefault();
        }
      }

      //Acciones si la asociacion de cuentas fue exitosa
      manageAJAXResponseAsociarCuentaCliente(data){
        //console.log("Movimientos " + JSON.stringify(data.detail.response));
        this.showAltaCuentas = false;
        alert("La cuenta se asoció exitosamente");
        this.cuentas();
      }

      //Acciones si la asociacion de cuentas no fue exitosa
      showErrorAsociarCuentaCliente(error){
        alert(error.detail.request.response.mensaje);
        console.log(error);
      }

      //Muestra el componente para ver los movimineto realizados de la cuenta seleccionada
      verMovimientos(element){
        var item = element.target.id;
        this.showMovimientos = true;
        this.showAltaMovimientos = false;
        this.showAltaCuentas = false;
        this.movimientosArray = this.cuentasArray[item].movimientos;
        this.arrayFiltrado = this.movimientosArray;
        this.cuentaSeleccionada = this.cuentasArray[item].idcuenta;
        this.fechaIni = null;
        this.fechaFin = null;
      }

      //Muestra el componente para dar de alta un movimiento
      verAltaMovimientos(element){
        this.importeAlta = null;
        this.tipoMovimientoAlta = null;
        this.showAltaMovimientos = true;
        this.showAltaCuentas = false;
      }

      //Oculta el componente par dar de alta movimientos
      cancelarAltaMovimiento(){
        this.importeAlta = null;
        this.tipoMovimientoAlta = null;
        this.showAltaMovimientos = false;
      }

      //Guarda un nuevo movimiento a la cuenta seleccionada
      altaMovimiento(element){
        var altaMovimientoData = {
          "importeAlta": this.importeAlta,
          "tipoMovimientoAlta": this.tipoMovimientoAlta
        };

        if(this.importeAlta == null || this.tipoMovimientoAlta == null || this.importeAlta <= 0 || this.tipoMovimientoAlta == ""){
            alert("Parámetros incompletos, favor de validar");
        }
        else{
          this.$.crearMovimiento.body = JSON.stringify(altaMovimientoData);
          this.$.crearMovimiento.generateRequest();
          element.preventDefault();
        }
      }

      //Acciones si la creación del movimiento fue exitosa
      manageAJAXResponseAltaMovimiento(data){
        //console.log("Movimientos " + JSON.stringify(data.detail.response));
        this.showAltaMovimientos = false;
        alert("Movimiento creado exitosamente");
        this.cuentas();
      }

      //Acciones si la creación del movimiento no fue exitosa
      showErrorAltaMovimiento(error){
        alert(error.detail.request.response.mensaje);
        console.log(error);
      }

      //Filtra los moviimentos por fechas
      filtrarMovimientos(){
        if(this.fechaIni == null ||this.fechaIni == "" || this.fechaFin == null || this.fechaFin == ""){
          this.arrayFiltrado = this.movimientosArray;
        }
        else{
          var fechaFin24 = new Date(this.fechaFin).setHours(23,59,59,59);
          var fechaIni24 = new Date(this.fechaIni).setHours(0,0,0,0);
          if(fechaFin24 < fechaIni24){
            alert("Le fecha inicial no puede ser mayor a la final");
          }
          else if(this.movimientosArray != null && this.movimientosArray.length > 0){
            this.arrayFiltrado = this.movimientosArray.filter((m => new Date(m.fecha) >= new Date(fechaIni24) &&  new Date(m.fecha) <= new Date(fechaFin24)));
          }
        }
      }

      //Borra los filtros de fechas capturados
      borarFiltro(){
        this.fechaIni = null;
        this.fechaFin = null;
        this.filtrarMovimientos();
      }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
