<!-- Importaciones a paquetes polymer a utilziar -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<!-- Identificador del document -->
<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row" hidden$={{logado}}>
        <h1>Ingreso a la APP</h1>
        Email: <input type="email" value="{{email::input}}"><br/>
        Password: <input type="password" value="{{password::input}}"><br/>
        <button on-click="login" class="btn btn-success">Ingresar</button>
      </div>
      <div class="row" hidden$={{!logado}}>
        <span>Bienvenido a la APP</span>
      </div>
    </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/v2/login"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado:{
            type: Boolean,
            value: false
          }
        };
      }
      login(){
        var loginData = {
          "email": this.email,
          "password": this.password
        };
        console.log(this.email + " " + this.password);

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();

        console.log("Petición enviada por iron-ajax");
      }

      manageAJAXResponse(data){
        console.log("Respuesta recibida del servidor");
        this.logado = true;
      }

      showError(error){
        console.log("Hubo un error en la petición " + error);
        alert("Los datos ingresados son incorrectos/El usuario no existe regristrese");
      }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
